<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    {% block seo %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>

    <script src="https://cdn.tailwindcss.com"></script>

    {% block styles %}{% endblock %}
</head>
<body>
    
    {% block content %}{% endblock %}

    <script src="{% static 'assets/js/base.js' %}"></script>

    {% if messages %}
    <div id="toast-wrapper"
        class="fixed top-16 inset-x-0 flex justify-end pointer-events-none z-50">
        <div class="space-y-3 w-full max-w-md">
            {% for message in messages %}
            {% with tag=message.tags %}
            <div
                class="toast relative pointer-events-auto flex items-start gap-3 px-4 py-3 rounded-lg border shadow-md animate-slide-down
                {% if tag == 'error' %}   bg-red-50   border-red-200   text-red-700 {% endif %}
                {% if tag == 'success' %} bg-green-50 border-green-200 text-green-700 {% endif %}
                {% if tag == 'warning' %} bg-yellow-50 border-yellow-200 text-yellow-700 {% endif %}
                {% if not tag or tag == 'info' %} bg-blue-50 border-blue-200 text-blue-700 {% endif %}">

                <p class="flex-1 text-sm">{{ message }}</p>

                <button type="button"
                        class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900
                            rounded-lg text-sm p-1.5 inline-flex items-center
                            dark:hover:bg-gray-600 dark:hover:text-white"
                        data-dismiss="toast">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                    viewBox="0 0 20 20"><path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close toast</span>
                </button>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <script>
        document.querySelectorAll(".toast").forEach(toast => {
            setTimeout(() => toast.remove(), 4000);
        });

        document.addEventListener("click", e => {
            if (e.target.closest('[data-dismiss="toast"]')) {
            e.target.closest(".toast")?.remove();
            }
        });
    </script>



    {% block scripts %}{% endblock %}
</body>
</html>