{% load static %}
<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
      <a href="{% url 'index_view' %}" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
          <img src="{% static 'favicon/favicon-32x32.png' %}" class="mr-3 h-6 sm:h-9" alt="0django Logo" />
          <span class="text-primary-700">0django</span>    
      </a>
      <p class="my-6 text-gray-500 dark:text-gray-400">Read. Discuss. Ask AI.</p>
      <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">AI Assistant</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6 ">Feeds</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">FAQs</a>
          </li>
          <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
          </li>
      </ul>
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="{% url 'index_view' %}" class="hover:underline">0django</a>. All Rights Reserved. - Railway Hackathon 2025</span>
  </div>
</footer>