<!-- Quick create -->
<!-- <div class="bg-white rounded-xl p-4 border border-gray-100 shadow-sm space-y-3">
    <h3 class="font-semibold">Quick create</h3>
    <a href="create.html#post" class="block text-center w-full border border-gray-100 rounded-lg py-2 hover:bg-gray-50">Write a Post</a>
    <a href="create.html#blog" class="block text-center w-full border border-gray-100 rounded-lg py-2 hover:bg-gray-50">Write a Blog</a>
</div> -->

<!-- Tags -->
<div class="bg-white rounded-xl p-4 border border-gray-100 shadow-sm">
    <h3 class="font-semibold mb-3">Tags</h3>
    <ul class="space-y-2 text-sm">
        {% for tag in top_tags %}
        <li><a href="{% url 'feed_by_tag_view' tag.hash_name %}" class="hover:underline">{{tag.hash_name}}</a></li>
        {% endfor %}
    </ul>
</div>

    <!-- Top authors -->
<div class="bg-white rounded-xl p-4 border border-gray-100 shadow-sm">
    <h3 class="font-semibold mb-3">Top authors</h3>
    <ul class="space-y-2 text-sm">
        {% for author in top_authors %}
        <li><a href="{% if author.nickname %}{% url 'author_profile_view' author.nickname %}{% else %}{% url 'author_profile_view' author.email %}{% endif %}" class="hover:underline">@{% if author.nickname %}{{author.nickname}}{% else %}{{author.email}}{% endif %}</a></li>
        {% endfor %}
    </ul>
</div>